<app-toolbar (typeSelected)="changeTitle($event)"></app-toolbar>

<div class="container">
    <app-search *ngIf="!errorList" (search)="searchMovie($event)"></app-search>

    <div class="header">
        <h1>Listado de {{titleList}}</h1>
        <button mat-icon-button aria-label="Agregar película" (click)="addMovie()" [disabled]="errorList">
            <div class="div-button">
                <mat-icon>add</mat-icon>
                <p>Agregar</p>
            </div>
        </button>
    </div>
    <mat-divider></mat-divider>

    <div *ngIf="loading" class="div-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="errorList" class="div-spinner">
        <app-load-error></app-load-error>
    </div>

    <div *ngIf="!loading && !errorList && isMovie" class="container-card-movie">
        <app-card-movie 
            *ngFor="let elem of listMovies"
            [movie]="elem"
            (update)="updateMovies()"
            (delete)="deleteMovies($event)">
        </app-card-movie>
    </div>

    <!-- Div para actores -->
    <div *ngIf="!loading && !errorList && isActor" class="container-card-actor">
    </div>

</div>